
    
    <div class="comments">
            <div class="comment-wrap">
                    <div class="photo">
                            <div class="avatar" style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/128.jpg')"></div>
                    </div>
                    <div class="comment-block">
                            {{ form(formComment)}}
                    </div>
            </div>  

    </div>
    
    </div>

    {% block javascript %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}