
body {
    background-color: rgb(255, 255, 255);
}

.nav-item{
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 13px 14px;
    text-transform: uppercase;
    top: 5px;
}
.nav-item:hover{
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 13px 14px;
    text-transform: uppercase;
    font-weight:  bold;
}
.nav-link-add{
   
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: #0a0a0a;
    border-bottom: 1px solid lightpink;
    text-decoration: none;
}

.nav-link-add:hover{
   
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    border-bottom: 3px solid lightpink;
    color: #414141;
    text-decoration: none;
}

.nav-link-co{
   
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: #0a0a0a;
    border-bottom: 1px solid rgb(182, 240, 255);
    text-decoration: none;
}

.nav-link-co:hover{
   
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    border-bottom: 3px solid rgb(182, 240, 255);
    color: #414141;
    text-decoration: none;
}

.nav-link:hover{
    background-color: rgb(255, 197, 231);
    border: 1px solid #292929;
    box-shadow: 2px 3px 0px #252525;
    text-decoration: none;
    color: black;
}


.titre_logo{
    color: white;
    background-color: black;
    font-size: 20px;
    text-align: center;
    border: 1px solid #b3b3b3;
    padding: 4px;
    margin: 4px;
    display: block;
}
.titre_logo:hover{
    text-decoration: none;
    color: white;
    background-color: black;
    font-size: 20px;
    text-align: center;
    border: 1px solid #b3b3b3;
    padding: 4px;
    margin: 4px;
    display: block;
}
.fond-article{
    text-align: left;
    background: #ffffff;
    transition: opacity .35s ease-in;
    border: 1px solid #d6d6d6;
    box-shadow: 3px 3px 0px #bababa;
    border-radius: 3px;
    width: 94%;
    margin: auto;
    padding: 15px;
    position: relative;
}
.activity-title{
    color:black
}
.activity-title:hover{
    color:black;
    text-decoration: none;
}
.bloc-utilisateur{
    background: #E6D6D1;
    border: 1px solid rgb(177, 165, 161);
    box-shadow: 3px 3px 0px rgb(194, 173, 167);
}
.bloc-gauche{
    background: #FAF4ED;
    border: 1px solid rgb(192, 178, 162);
    box-shadow: 3px 3px 3px rgb(231, 225, 217);
}
.add_tag_link{
    background: #ffdcbb;
    border: 1px solid #ffbc7d;
    box-shadow: 3px 3px 0px #ffbc7d;
    color:black;
    padding: 4px;
    margin: 4px;
}
.add_tag_link:hover{
    text-decoration: none;
    color:black;
}
li{
    list-style-type:none;
}
.remove-tag{
    background: #ff9292;
    border: 1px solid #ff3640;
    color:black;
    border-radius: 3px;
    padding-bottom: 4px;
    padding-left: 4px;
}

.label_category{
    display: inline-block;
    border-radius: 3px;
    font-size: 13px;
    font-weight: bold;
    padding: 2px 5px 3px;
    border-radius: 2px;
    background: #227dd1;
    color: white;
}
.user_block{
    border: 1px solid #636363 !important;
    box-shadow: 3px 4px 0px #838383 !important;
}

.truc-separation{
    color: rgb(223, 188, 132);
    font-weight: bold;
    font-size: 20px;
}

.text-bloc-title{
    text-transform: uppercase;
    text-align: center;
}
.lien-activity{
    text-transform: uppercase;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    margin: 6px;
}

.lien-activity:hover{
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 3px solid lightpink;
    color: #000000;
    text-decoration: none;
    margin: 6px;
}
.js-like{
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid lightpink;
    color: #000000;
    text-decoration: none;
    margin: 6px;
    font-size: 15px;
    text-align: right;
}

.js-like:hover{
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 3px solid lightpink;
    color: #000000;
    text-decoration: none;
    margin: 6px;
    font-size: 15px;
    text-align: right;
}