<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Give me best place{% endblock %}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">

        {% endblock %}
    </head>
    <div class="container-fluid">
        <div class="background-nav">
        <div class="row">
         
            <div class="col-3">
                <h3>
                    Give me best place
                </h3>
            </div>

            <div class="col-6">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{path ('home')}}">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path ('create_activity')}}">Ajouter une activité
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
            </div>
            <div class="col-3">
              <p>serdtfyguhhkjthrezresrdtfjyt</p>
            </div>
        </div>
      </div>
    </div>

    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('build/app.js') }}"></script>
        {% endblock %}
    </body>
</html>